*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
html{
    overflow-x: hidden;
}

img{
    max-width: 1920;
    max-height: 1080;
}
section {
    padding: 120px 0;
    list-style: none;
    margin-bottom: 24px;
}

form {
    max-width: 350px;
}

.container{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
.container h2{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    color: #f5fffa;
}

.form-campo{
    font-family: "Poppins";
    font-weight: 500;
    display: block;
    color: #f5fffa;
    padding: 6px;
}
.form-campo label{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    display: block;
    color: #f5fffa;
    padding: 2px;
}

.form-campo input{
    width: 100%;
    display: block;
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
}

.glass-form{
    background: rgba(37, 57, 61, 0.84);
    box-shadow: 0 8px 32px 0 rgba(12, 15, 19, 0.918);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    padding: 25px 40px 40px;
    border-radius: 25px;
    max-width: 500px;
    max-height: 1920px;
}

form button {
    display: block;
    width: 45%;
    max-height: 80px;
    padding: 8px 0;
    border: none;
    background-color: #7bf178;
    color: #253d39;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 0.5px;
    margin-top: 18px;
}

form button:hover{
    background-color: #1E302D;
    color: #7bf178;
    transition: 0.2s;
}

footer{
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    background-color: #253d39;
    color: #f5fffa;
}

